com.WanderingTurtle/com.WanderingTurtle.ServiceClient/Service References/WanderingTurtleService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/com.WanderingTurtle.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/com.WanderingTurtle.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfAccountingInvoiceDetails" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SupplierListings" nillable="true" type="tns:ArrayOfAccountingSupplierListingDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountingDetails" nillable="true" type="tns:AccountingDetails" />
  <xs:complexType name="ArrayOfAccountingInvoiceDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountingInvoiceDetails" nillable="true" type="tns:AccountingInvoiceDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountingInvoiceDetails" nillable="true" type="tns:ArrayOfAccountingInvoiceDetails" />
  <xs:complexType name="AccountingInvoiceDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBookingDetails" />
      <xs:element minOccurs="0" name="InvoiceInformation" nillable="true" type="tns:InvoiceDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountingInvoiceDetails" nillable="true" type="tns:AccountingInvoiceDetails" />
  <xs:complexType name="ArrayOfBookingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingDetails" nillable="true" type="tns:BookingDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingDetails" nillable="true" type="tns:ArrayOfBookingDetails" />
  <xs:complexType name="BookingDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Booking">
        <xs:sequence>
          <xs:element minOccurs="0" name="EventItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookingDetails" nillable="true" type="tns:BookingDetails" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="DateBooked" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="ExtendedPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="GuestID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemListID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="TicketPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCharge" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="InvoiceDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Invoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="GuestFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GuestLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GuestRoomNum" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvoiceDetails" nillable="true" type="tns:InvoiceDetails" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateClosed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HotelGuestID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPaid" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="ArrayOfAccountingSupplierListingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountingSupplierListingDetails" nillable="true" type="tns:AccountingSupplierListingDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountingSupplierListingDetails" nillable="true" type="tns:ArrayOfAccountingSupplierListingDetails" />
  <xs:complexType name="AccountingSupplierListingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBookingDetails" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItemListingDetails" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="tns:Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountingSupplierListingDetails" nillable="true" type="tns:AccountingSupplierListingDetails" />
  <xs:complexType name="ArrayOfItemListingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemListingDetails" nillable="true" type="tns:ItemListingDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemListingDetails" nillable="true" type="tns:ArrayOfItemListingDetails" />
  <xs:complexType name="ItemListingDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemListing">
        <xs:sequence>
          <xs:element minOccurs="0" name="EventDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantityOffered" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemListingDetails" nillable="true" type="tns:ItemListingDetails" />
  <xs:complexType name="ItemListing">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentNumGuests" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventID" type="xs:int" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemListID" type="xs:int" />
      <xs:element minOccurs="0" name="MaxNumGuests" type="xs:int" />
      <xs:element minOccurs="0" name="MinNumGuests" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Seats" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemListing" nillable="true" type="tns:ItemListing" />
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
</xs:schema>